.main-header {
    color: white;
    height: 90px;
    width: 100%;
    background: #A2C0A0;
    padding: 20px;
    text-align: right;
    position: relative;
}
.main-header ul li
{
    display: inline;
    padding: 20px;
    text-transform: uppercase;
}

.main-header #btn-dn
{
    padding: 10px;
    color: black;
    border: 1px solid white;
    border-radius: 50px;
    background: white;
    text-transform: capitalize;
}

.main-header #btn-dn:hover
{
    background: #81A190;
    border: 1px solid #81A190;
}

Nav.Link{
    color: white;
}

Nav.Link:hover{
    color: black;
}