.main-header {
    color: white;
    height: 90px;
    width: 100%;
    background: #A2C0A0;
    padding: 20px;
    text-align: right;
    }
ul li
{
    display: inline;
    padding: 10px;
    text-transform: uppercase;
}
img{
    width: 100%;
    height: 950px;
}

#btn-dn
{
    color: black;
    border: 1px solid white;
    border-radius: 50px;
    background: white;
    text-transform: capitalize;
}